<%= link_to "Sign in with Github", "/auth/github" %>
<p>
  <strong>Don&rsquo;t use these services?</strong>
  <%= link_to "Create an account", new_identity_path %> or login below.
</p>

<%= form_tag "/auth/identity/callback" do %>
  <fieldset class="account-info">
    <label>
      Email
      <input type="text", name="auth_key", required>
    </label>
    <label>
      Password
      <input type="password", name="passowrd", required>
    </label>
  </fieldset>
  <fieldset class="account-action">
    <input class="btn", type="submit", name="submit", value="Login">
    <label>
      <input type="checkbox" name="remember">Stay signed in
    </label>
  </fieldset>
<% end %>
