<h1>Reset Password</h1>

<%= form_tag password_resets_path, method: "post", class: "account-form",
  "data-parsley-validate" => true do %>
  <fieldset class="account-info">
    <label>
      Email
      <%= email_field_tag :email, params[:email], class: "form-control",
        required: true, "data-parsley-trigger" => "change" %>
    </label>
  </fieldset>
  <fieldset class="account-action">
    <%= submit_tag "Reset Password", class: "btn btn-success" %>
  </fieldset>
<% end %>
