<div class="comment">
  <div class="comment-info">
    <span><%= link_to comment.user.nickname, user_path(comment.user) %></span>
    <span><%= time_ago_in_words(comment.created_at) %></span>
    <%#= select_comment_icons_by_user(current_user, comment.cslice, comment) %>
  </div>

  <div class="comment-body">
    <%= comment.body %>
  </div>
</div>
