<div class="comment">
  <div class="comment-info">
    <span><%= comment.user.nickname %></span>
    <span><%= comment.updated_at %></span>
  </div>

  <div class="comment-body">
    <%= comment.body %>
  </div>

  <div>
    <!-- /slices/slice_id/comments/:id -->
    <%= link_to "Destroy Comment", [comment.cslice, comment], method: :delete,
      data: {confirm: 'Are you sure?'} %>
  </div>
</div>
