<div class="user-btn">
  <div class="btn-group">
    <%= link_to "New slice", new_slice_path, class: "btn btn-success" %>
    <%= link_to "New Ask", "#", class: "btn btn-success disabled" %>
  </div>
</div>
<%= render 'stat' %>
<%= render 'shared/site_stat' %>
