<p>Dear <%= current_user.nickname %>:</p>
<p>You have total <%= pluralize(current_user.slices.count, "slice") %>,
and have got <%= pluralize(current_user_got_comments, "comment") %>.</p>
<p>And you have yield <%= pluralize(current_user.comments.count, "comment") %>.</p>
