<div class="stat">
  <h4 class="title">User Stat</h4>
  <div class="content">
    <p>You have <%= pluralize(current_user.slices.count, "slice") %>,
      <%= pluralize(current_user_got_comments, "comment") %>.</p>
    <p>Yield <%= pluralize(current_user.comments.count, "comment") %>.</p>
  </div>
</div>
