<div class="panel panel-default panel-info stat">
  <div class="panel-heading">
  <h4 class="panel-title title">User Stat</h4>
</div>
  <div class="panel-body">
    <p>You yield <%= pluralize(current_user.slices.count, "slice") %>,
      <%= pluralize(current_user.comments.count, "comment") %>.</p>
    <p>And got <%= pluralize(current_user_got_comments, "comment") %>.</p>
  </div>
</div>
