<div class="panel panel-default panel-info stat">
  <div class="panel-heading">
  <h4 class="panel-title title">User Stat</h4>
</div>
  <div class="panel-body">
    <p>@<%= @user.nickname %> yield <%= pluralize(@user.slices.count, "slice") %>,
      <%= pluralize(@user.comments.count, "comment") %>.</p>
    <p>And got <%= pluralize(user_got_comments(@user), "comment") %>.</p>
  </div>
</div>
