<% if res && res.errors.any? %>
  <div class="err_msg">
    <h2><%= pluralize(res.errors.count, "error") %> occured:</h2>
    <ul>
      <% res.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
