<div class="panel panel-default panel-info stat">
  <div class="panel-heading">
    <h4 class="panel-title title">Site Stat</h4>
  </div>
  <ul class="panel-body">
    <li><%= pluralize(User.all.count, "user") %></li>
    <li><%= pluralize(Slice.all.count, "slice") %></li>
    <li><%= pluralize(Comment.all.count, "comment") %></li>
  </ul>
</div>
