# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

defaults: &defaults
  mail_address: "localhost"
  mail_domain: "whatever.com"
  mail_host: "localhost"
  mail_from: "devel@localhost"
  google_analytics_key: "UA-32150918-2"
  github_key: <%= ENV["GITHUB_KEY"] %>
  github_secret: <%= ENV["GITHUB_SECRET"] %>

development:
  <<: *defaults
  secret_key_base: 76a233683e25e482e53df72150e1a6852fb238de7a0dbf2ac0e422e733f02854dc099c07e1bb36e530dc83d45626d3b4381f6802a89de8c931ff23729b22e5a7

test:
  <<: *defaults
  secret_key_base: 384b892a4415b2611293928f6cf854fa59455a2a5261a710a534785527761ea26dd4efee4bfa2408895d9472eed74f447b5ec5d357486ae14ce6feca2b7b3f6f

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  <<: *defaults
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  mail_address: <%= ENV["MAIL_ADDRESS"] %>
  mail_domain: <%= ENV["MAIL_DOMAIN"] %>
  mail_host: <%= ENV["MAIL_HOST"] %>
  mail_from: <%= ENV["MAIL_FROM"] %>
