<%= link_to slice_path(slice) do %>
  <div class="se_title">
    <%= slice.title %>
  </div>
<% end %>

<div class="se_text">
<%= slice.text %>
</div>

<div class="se_note" >
  <%= slice.note %>
</div>
