<%= render "form" %>

<%= content_for :tip do %>
  <div class="panel panel-default stat">
    <div class="panel-heading">
      <h4 class="panel-title title">Tips</h4>
    </div>
    <ul class="panel-body">
      <li>What is <a href="http://commonmark.org">Markdown</a>?</li>
      <li>Code example:
        <div class="panel-body code-example">
        ```css<br>body {<br>width: 80%;<br>}<br>```
        <div>
      </li>
    </ul>
  </div>
<% end %>
