/*
 *= require highlight/github
 */

@import "bootstrap-sprockets";
@import "codeslice/variables";
@import "bootstrap";
@import "codeslice/theme";
@import "pagedown_bootstrap";
@import "parsley";

@import "globalvars";
@import "users";
@import "sessions";
@import "identities";
@import "slices";
@import "comments";
@import "profiles";


html,
body {
  /* The html and body elements cannot have any padding or margin */
  height: 100%;
  background: #e5e5e5;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important; /* ie7 fix */
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -50px;
}

#push,
#footer {
  /* Set the fixed height of footer here */
  height: 50px;
  .navbar {
    margin-bottom: 0;
  }
}

/* Lastly, apply responsive CSS fixed as necessary */
@media (max-width: $screen-xs-max) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

pre, code {
  margin: 0;
  border: 0;
  font-family: "Source Code Pro", Inconsolata, Terminal, "Courier New", Courier, monospace;
}

fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

input {
  border-radius: 4px;
}

textarea {
  resize: none;
}

.navbar {
  .navbar-brand {
    color: #FFF;
    &:hover {
      color: #ff7b29;
    }
  }
}

.stat {
  margin-bottom: $margin-bottom;
  .title {
    text-align: center;
    color: #000;
  }
  ul {
    list-style: disc;
    padding-left: 30px;
  }
}

.wmd-group {
  .wmd-input {
    height: 160px;
  }
  .wmd-preview {
    margin: 0 0 10px;
    max-height: 100px;
    padding: 2px 5px;
  }
}

.err_msg {
  padding-bottom: 10px;
  border-bottom: 1px solid #c6c7cc;
  color: red;
  h3 {
    margin-top: 0;
  }
  ul {
    color: red;
  }
}

.account-form {
  border: 1px solid #c6c7cc;
  border-radius: 4px;
  margin-bottom: $margin-bottom;
  overflow: hidden;
  width: 300px;

  .account-info {
    padding: 10px 20px 0 20px;
    label {
      color: #395870;
      display: block;
      font-weight: bold;
      margin-bottom: $margin-bottom;
    }
    input {
      border: 1px solid #c6c7cc;
      padding: 6px;
      width: 100%;
    }
  }

  .account-action {
    background: #f0f0f2;
    border-top: 1px solid #c6c7cc;
    padding: 20px;
    .btn {
      font-weight: bold;
      float: left;
      padding: 8px 16px;
    }
    label {
      color: #7c7c80;
      font-size: 12px;
      float: left;
      margin: 10px 0 0 20px;
    }
  }
}
