/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require reset
 *= require_self
 *= require_tree .
 *= require codemirror
 *= require highlight/github
 */

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  background: #e5e5e5;
  font-family: "Heiti SC Light","Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB","Microsoft Yahei",STHeiti,Verdana,Helvetica,Arial,sans-serif;
}

body {
  background: none;
}

pre, code {
  font-family: "Source Code Pro", Inconsolata, Terminal, "Courier New", Courier, monospace
}

a:link {
  text-decoration: none;
}

form {
  border: 1px solid #c6c7cc;
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  width: 240px;
}

fieldset {
  padding: 0;
  border: 0;
  margin: 0;
  position: relative;
}

input {
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.navbar {
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 20px;
  height: 40px;
  background-color: #666;
}

.navbar-inner {
  margin: 0 auto;
  width: 960px;
  position: relative;
}

.site-logo {
  display: inline-block;
  width: 100px;
  margin-top: 5px;
  position: absolute;
  left: 430px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.site-logo a {
  color: #FFF;
  font-weight: 600;
}
.site-logo a:hover {
  color: #ff7b29;
}

.navbar-search {
  display: inline-block;
  position: absolute;
  right: 140px;
  height: 40px;
  border: 0;
  padding: 5px 30px;
}

.navbar-search input {
  width: 100%;
  height: 100%;
}

.navbar-account {
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 10px;
  height: 30px;
  line-height: 30px;
}
.navbar-account ul {
  margin: 0;
  padding: 0;
}
.navbar-account li {
  display: inline-block;
}
.navbar-account a {
  background: #2DB34A;
  color: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2px 8px;
  text-decoration: none;
}
.navbar-account a:hover {
  background: #314b60;
}

.top-fixed {
  clear: both;
  width: 960px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500;
  background: #cecfd5;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  clear: both;
  *zoom: 1;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #FFF;
}

section {
  float: left;
  margin: 0 1.5%;
  width: 65%;
}

aside {
  float: right;
  margin: 0 1.5%;
  width: 28%;
}
