// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile-form {
  padding: 10px 10px 10px 0;
  border: 1px solid #c6c7cc;
  margin-bottom: 20px;
}
