// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "globalvars";

.user-btn {
  margin-bottom: $margin-bottom;
  padding: 6px 12px;
  background: rgba(208, 208, 208, 0.5);
  .btn-group {
    width: 100%;
    .btn {
      width:50%;
    }
  }
}
