<!DOCTYPE html>
<html>
<head>
  <title>Cmdslice</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script>
  hljs.initHighlightingOnLoad();

  var marked = require('marked')
  marked.setOption({
    renderer: new marked.Renderer(),
    gfm: true,
    tables: true,
    breaks: false,
    pedantic: false,
    sanitize: true,
    smartLists: true,
    smarttypants: false
    highlight: funciton(code) {
      return require('highlight.js').highlightAuto(code).value;
    }
  });
</script>
</body>
</html>
